<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>Prise de photo avec prévisualisation</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="header">
        <div class="title">Bornedex</div>
    </div>

    <div id="cameraContainer">
        <video id="camera" autoplay></video>
        <img id="capture" src="take.svg" alt="Prendre une photo">
        <button id="switchCameraButton">
            <img src="return.svg" alt="Changer de caméra">
        </button>
        <canvas id="snapshot"></canvas>
        <img id="preview" alt="Prévisualisation de la photo" style="display: none;">
        <img id="uncapture" src="cross.svg" alt="Annuler" style="display: none;">
        <button id="validateButton" class="button-action" style="display: none;">Valider</button>
    </div>    

    <form id="photoForm" style="display: none;">
        <button type="button" id="backButton">
            <img src="return.svg" alt="Retour">
        </button>
        <input type="hidden" name="photo" id="photoData">
        <div class="first-form-group form-group">
            <img id="photoPreview" alt="Prévisualisation de la photo">
            <input type="text" name="photoName" id="photoName" placeholder="Nom de la borne">
        </div>
        <div class="form-group">
            <!-- <label for="city">Ville:</label> -->
            <input type="city" name="city" id="city" placeholder="Ville" maxlength="58" required>
            <!-- <label for="latitude">Latitude:</label> -->
            <input type="latitude" name="latitude" id="latitude" placeholder="Latitude" maxlength="20" required>
            <!-- <label for="longitude">Longitude:</label> -->
            <input type="longitude" name="longitude" id="longitude" placeholder="Longitude" maxlength="20" required>
        </div>

        <button type="download" class="button-action">Télécharger</button>
        <button type="submit" class="button-action">Envoyer la photo</button>
    </form>
        
        <script src="node_modules/eruda/eruda.js"></script>
        <script>eruda.init();</script>
        
        <script src="gps.js"></script>

        <script>
            const geoManager = new GeolocationManager();
            geoManager.activateGPS();

            // geoManager.getCurrentPosition().then(position => {
            //     console.log('Position actuelle:', position);
            //     geoManager.getCityName().then(city => {
            //         console.log('Ville actuelle:', city);
            //     }).catch(error => {
            //         console.error('Erreur lors de la récupération de la ville:', error);
            //     });
            // }).catch(error => {
            //     console.error('Erreur lors de la récupération de la position:', error);
            // });

            // setTimeout(() => {
            //     geoManager.deactivateGPS();
            // }, 10000);


            const video = document.getElementById('camera');
            const canvas = document.getElementById('snapshot');
            const captureButton = document.getElementById('capture');
            const previewImage = document.getElementById('preview');
            const photoForm = document.getElementById('photoForm');
            const photoDataInput = document.getElementById('photoData');
            const photoPreview = document.getElementById('photoPreview');
            const uncaptureButton = document.getElementById('uncapture');
            const validateButton = document.getElementById('validateButton');
            const backButton = document.getElementById('backButton');
            
            let currentCamera = 'environment';

            class Camera {
                static capture(){
                    const context = canvas.getContext('2d');
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    context.drawImage(video, 0, 0, canvas.width, canvas.height);
        
                    const dataUrl = canvas.toDataURL('image/png');
                    photoDataInput.value = dataUrl;
                    photoPreview.src = dataUrl;
                    previewImage.src = dataUrl;
                    previewImage.style.display = 'block';
                    uncaptureButton.style.display = 'block';
                    validateButton.style.display = 'block';
        
                    console.log(canvas.width, canvas.height);
                    
                    if(canvas.width <= 0 || canvas.height <= 0)
                    {
                        alert('Erreur lors de la capture de la photo');
                        console.log('Erreur lors de la capture de la photo');
                    }
        
                    if(geoManager.currentPosition)
                    {
                        document.getElementById('latitude').value = geoManager.currentPosition.coords.latitude;
                        document.getElementById('longitude').value = geoManager.currentPosition.coords.longitude;
                        geoManager.getCityName().then(city => {
                            document.getElementById('city').value = city;
                        }).catch(error => {
                            console.error('Erreur lors de la récupération de la ville:', error);
                        });
                    }
                    
                }

                static uncapture(){
                    previewImage.style.display = 'none';
                    uncaptureButton.style.display = 'none';
                    validateButton.style.display = 'none';
                    photoDataInput.value = '';
                }

                static validate(){
                    cameraContainer.style.display = 'none';
                    photoForm.style.display = 'block';
                }
            }


        function switchCamera() {
            if (currentCamera === 'environment') {
                currentCamera = 'user'; // Changer pour la caméra avant
            } else {
                currentCamera = 'environment'; // Changer pour la caméra arrière
            }

            // Mettre à jour les contraintes de la caméra
            const constraints = { video: { facingMode: currentCamera, width: { ideal: 1920 }, height: { ideal: 1080 } } };

            // Demander l'accès à la nouvelle caméra
            navigator.mediaDevices.getUserMedia(constraints)
            .then((stream) => {
                video.srcObject = stream;
                })
                .catch((err) => {
                    console.error("Erreur d'accès à la caméra: ", err);
                    });
                    }
                    
                    const switchCameraButton = document.getElementById('switchCameraButton');
        switchCameraButton.addEventListener('click', switchCamera);

        const camOptions = {
            audio: false,
            video: { 
                facingMode: currentCamera,
                width: { ideal: 1920 },
                height: { ideal: 1080 }
            },
        };

        navigator.mediaDevices.getUserMedia(camOptions)
            .then((stream) => {
                video.srcObject = stream;
                // Debug data
                console.log(navigator.mediaDevices.getSupportedConstraints());
                console.log(navigator.mediaDevices.enumerateDevices());
            })
            .catch((err) => {
                console.error("Erreur d'accès à la caméra: ", err);
            });


        captureButton.addEventListener('click', Camera.capture);
        validateButton.addEventListener('click', Camera.validate);
        uncaptureButton.addEventListener('click', Camera.uncapture);

        // backButton
        backButton.addEventListener('click', () => {
            cameraContainer.style.display = 'block';
            photoForm.style.display = 'none';
        });

        // Gestion de l'envoi du formulaire
        photoForm.addEventListener('submit', (e) => {
            e.preventDefault();
            console.log("Photo envoyée:", photoDataInput.value);
            // Vous pouvez ajouter ici le code pour envoyer le formulaire à votre serveur

            const formData = new FormData(photoForm);
            formData.append('lat', document.getElementById('latitude').value);
            formData.append('lon', document.getElementById('longitude').value);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Réponse du serveur:', data);
                // Faire quelque chose avec la réponse du serveur
            })
            .catch(error => {
                console.error('Erreur lors de l\'envoi du formulaire:', error);
            });
        });

        // Télécharger la photo
        const downloadButton = document.querySelector('button[type="download"]');
        downloadButton.addEventListener('click', () => {
            const dataUrl = photoDataInput.value;
            const link = document.createElement('a');
            link.download = 'bornedex_' + Date.now() + '_' + longitudeInput.value + '_' + latitudeInput.value + '.png';
            link.href = dataUrl;
            link.click();
        });

        // Gestion des inputs latitudes et longitudes
        const latitudeInput = document.getElementById('latitude');
        const longitudeInput = document.getElementById('longitude');

        function formatCoordinates(input) {
            input.value = input.value.replace(',', '.');
            input.value = input.value.replace(/[a-zA-Z]/g, '');
        }

        latitudeInput.addEventListener('input', () => {
            formatCoordinates(latitudeInput);
        });

        longitudeInput.addEventListener('input', () => {
            formatCoordinates(longitudeInput);
        });


    </script>
</body>
</html>
